@mixin settings {
  a {
    text-decoration: underline;
  }
  .center-label label {
    text-align: center;
    span {
      float: left;
    }
  }
  .code {
    background-color: #adbed67a;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px 0 3px;
  }
  .delete-setting-button {
    margin-left: 5px;
  }
  .description-container {
    overflow-wrap: break-word;
    .el-form-item__content {
      line-height: 20px;
    }
  }
  .divider {
    margin: 0 0 18px 0;
  }
  .divider.thick-line {
    height: 2px;
  }
  .docs-search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .editable-keyword-container {
    width: 100%;
  }
  .el-form-item .rate-limit {
    margin-right: 0;
  }
  .el-input-group__prepend {
    padding-left: 10px;
    padding-right: 10px;
  }
  .el-tabs__header {
    z-index: 2002;
  }
  .email-address-input {
    width: 50%;
    margin-right: 10px;
  }
  .esshd-list {
    margin: 0;
  }
  .expl, .expl > p {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin: 5px 0 0 0;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    code {
      display: inline;
      line-height: 22px;
      font-size: 13px;
      padding: 2px 3px;
    }
  }
  .form-container {
    margin-bottom: 80px;
  }
  .frontend-container {
    margin-right: 30px;
  }
  .frontend-form-input {
    margin-top: 20px;
  }
  .frontends-button-container {
    width: 100%;
    margin-top: 15px;
  }
  .frontends-table {
    width: 100%;
    margin-right: 30px;
  }
  .grouped-settings-header {
    margin: 0 0 14px 0;
  }
  .highlight {
  background-color: #e6e6e6;
  }
  .icons-button-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .icons-button-desc {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    margin-left: 5px;
  }
  .icon-container {
    flex-direction: column;
    width: 95%;
  }
  .icon-values-container {
    display: flex;
    margin: 0 10px 10px 0;
  }
  .icon-key-input {
    width: 30%;
    margin-right: 8px
  }
  .icon-minus-button {
    width: 36px;
    height: 36px;
  }
  .icon-value-input {
    width: 70%;
    margin-left: 8px;
  }
  .icons-container {
    display: flex;
  }
  .input-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .el-form-item {
      margin-right: 30px;
      width: 100%
    }
    .el-select {
      width: 100%;
    }
  }
  .install-frontend-button {
    margin-top: 15px;
    float: right;
  }
  .keyword-container {
    width: 100%
  }
  label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .label-font {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
  }
  .limit-button-container {
    display: flex;
    align-items: baseline;
  }
  .limit-expl {
    margin-left: 10px;
  }
  .limit-input {
    width: 47%;
    margin: 0 0 5px 1%
  }
  .line {
    width: 100%;
    height: 0;
    border: 1px solid #eee;
    margin-bottom: 18px;
  }
  .mascot {
    margin-bottom: 15px;
  }
  .mascot-container {
    width: 100%;
  }
  .mascot-input {
    margin-bottom: 7px;
  }
  .mascot-name-container {
    display: flex;
    margin-bottom: 7px;
  }
  .mascot-name-input {
    margin-right: 10px
  }
  .multiple-select-container {
    width: 100%;
  }
  .name-input {
    width: 30%;
    margin-right: 8px
  }
  .nickname-input {
    width: 50%;
  }
  .no-top-margin {
    margin-top: 0;
    p {
      margin-right: 30px;
    }
  }
  .pattern-input {
    width: 20%;
    margin-right: 8px
  }
  .proxy-url-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .proxy-url-host-input {
    width: 35%;
    margin-right: 8px
  }
  .proxy-url-value-input {
    width: 35%;
    margin-left: 8px;
    margin-right: 10px
  }
  .prune-options {
    display: flex;
    height: 36px;
    align-items: baseline;
    .el-radio {
      margin-top: 11px;
    }
  }
  .rate-limit {
    .el-form-item__content {
      width: 100%;
      display: flex;
    }
  }
  .rate-limit-container {
    width: 100%;
  }
  .rate-limit-content {
    width: 70%;
  }
  .rate-limit-label {
    float: right;
  }
  .rate-limit-label-container {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    height: fit-content;
    width: 30%;
    margin-right: 10px;
  }
  .reboot-button {
    width: 145px;
    text-align: left;
    padding: 10px;
    float: right;
    margin: 0 30px 0 0;
  }
  .reboot-button-container {
    width: 100%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2000;
  }
  .replacement-input {
    width: 80%;
    margin-left: 8px;
    margin-right: 10px
  }
  .sender-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .scale-input {
    width: 47%;
    margin: 0 1% 5px 0
  }
  .setting-input {
    display: flex;
    margin-bottom: 10px;
  }
  .setting-label {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 14px 0;
  }
  .settings-container {
    max-width: 1824px;
    margin: auto;
    .el-tabs {
      margin-top: 20px
    }
  }
  .settings-delete-button {
    margin-left: 5px;
  }
  .settings-docs-button {
    min-width: 163px;
    text-align: left;
    padding: 10px;
  }
  .settings-header {
    margin: 10px 15px 15px 15px;
  }
  .header-sidebar-opened {
    max-width: 1585px;
  }
  .header-sidebar-closed {
    max-width: 1728px;
  }
  .settings-search-input {
    width: 350px;
    margin-left: 5px;
  }
  .single-input {
    margin-right: 10px
  }
  .socks5-checkbox {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    margin-left: 10px;
  }
  .socks5-checkbox-container {
    width: 40%;
    height: 36px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  .ssl-tls-opts {
    margin: 36px 0 0 0;
  }
  .submit-button {
    float: right;
    margin: 0 30px 22px 0;
  }
  .submit-button-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 2000;
  }
  .switch-input {
    height: 36px;
  }
  .text {
    line-height: 20px;
    margin-right: 15px
  }
  .tuple-input {
    margin-right: 15px;
  }
  .tuple-input:last-child {
    margin-right: 0;
  }
  .tuple-input-container {
    display: flex;
  }
  .upload-container {
    display: flex;
    align-items: baseline;
  }
  .value-input {
    width: 70%;
    margin-left: 8px;
    margin-right: 10px
  }

  @media only screen and (min-width: 1824px) {
    .header-sidebar-closed {
      max-width: 1772px;
    }
    .header-sidebar-opened {
      max-width: 1630px;
    }
    .reboot-button-container {
      width: 100%;
      max-width: inherit;
      margin-left: auto;
      margin-right: auto;
      right: auto;
    }
    .reboot-sidebar-opened {
      max-width: 1630px;
    }
    .reboot-sidebar-closed {
      max-width: 1772px;
    }
    .sidebar-closed {
      max-width: 1586px;
    }
    .sidebar-opened {
      max-width: 1442px;
    }
    .submit-button-container {
      width: 100%;
      max-width: inherit;
      margin-left: auto;
      margin-right: auto;
      right: auto;
    }
  }

  @media only screen and (max-width:480px) {
    .crontab {
      width: 100%;
      label {
        width: 100%;
      }
    }
    .delete-setting-button {
      margin: 4px 0 0 5px;
      height: 28px;
    }
    .delete-setting-button-container {
      flex: 0 0 auto;
    }
    .description > p {
      line-height: 18px;
      margin: 0 5px 7px 15px;
      code {
        display: inline;
        line-height: 18px;
        padding: 2px 3px;
        font-size: 14px;
      }
    }
    .description-container {
      margin: 0 15px 22px 15px;
    }
    .divider {
      margin: 0 0 10px 0;
    }
    .divider .thick-line {
      height: 2px;
    }
    .frontend-container {
      margin: 0 15px 10px 15px;
      .description-container {
        margin: 0;
      }
    }
    .frontend-form-input {
      margin-top: 0;
    }
    h1 {
      font-size: 24px;
    }
    .input {
      flex: 1 1 auto;
    }
    .input-container {
      width: 100%;
      .el-form-item:first-child {
        margin: 0;
        padding: 0 15px 10px 15px;
      }
      .el-form-item.crontab-container:first-child {
        margin: 0;
        padding: 0 ;
      }
      .el-form-item:first-child .mascot-form-item {
        padding: 0;
      }
      .el-form-item:first-child .rate-limit {
        padding: 0;
      }
      .settings-delete-button {
        margin-top: 4px;
        float: right;
      }
    }
    .input-row {
      display: flex;
      justify-content: space-between;
    }
    .label-with-margin {
      margin-left: 15px;
    }
    .limit-input {
      width: 45%;
    }
    .proxy-url-input {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }
    .proxy-url-host-input {
      width: 100%;
      margin-bottom: 5px;
    }
    .proxy-url-value-input {
      width: 100%;
      margin-left: 0;
    }
    .prune-options {
      flex-direction: column;
      height: 80px;
    }
    .rate-limit {
      .el-form-item__content {
        flex-direction: column;
      }
    }
    .rate-limit-content {
      width: 100%;
    }
    .rate-limit-label {
      float: left;
    }
    .rate-limit-label-container {
      width: 100%;
    }
    .reboot-button {
      margin: 0 15px 0 0;
    }
    .reboot-button-container {
      top: 57px;
    }
    .scale-input {
      width: 45%;
    }
    .settings-header {
      width: fit-content;
      display: inline-block;
      margin: 10px 15px 15px 15px;
    }
    .settings-search-input {
      margin: 0 15px 25px 15px;
      width: stretch;
    }
    .socks5-checkbox-container {
      width: 100%;
    }
    .submit-button {
      margin: 0 15px 22px 0;
    }
    .el-input__inner {
    padding: 0 5px 0 5px
    }
    .el-form-item__label:not(.no-top-margin) {
      padding-bottom: 5px;
      line-height: 22px;
      margin-top: 7px;
      width: 100%;
      pointer-events: none;
      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      button {
        pointer-events: auto;
      }
    }
    .el-message {
      min-width: 80%;
    }
    .el-message-box {
      width: 80%;
    }
    .el-select__tags {
      overflow: hidden;
    }
    .expl, .expl > p {
      line-height: 16px;
    }
    .icon-key-input {
      width: 40%;
      margin-right: 4px
    }
    .icon-minus-button {
      width: 28px;
      height: 28px;
      margin-top: 4px;
    }
    .icon-values-container {
      margin: 0 7px 7px 0;
    }
    .icon-value-input {
      width: 60%;
      margin-left: 4px;
    }
    .icons-button-container {
      line-height: 24px;
    }
    .line {
      margin-bottom: 10px;
    }
    .mascot-form-item {
      .el-form-item__label:not(.no-top-margin) {
        margin: 0;
        padding: 0;
      }
    }
    .mascot-container {
      margin-bottom: 5px;
    }
    .name-input {
      width: 40%;
      margin-right: 5px
    }
    p.expl {
      line-height: 20px;
    }
    .pattern-input {
      width: 40%;
      margin-right: 4px
    }
    .replacement-input {
      width: 60%;
      margin-left: 4px;
      margin-right: 5px
    }
    .settings-header-container {
      display: flex;
      justify-content: space-between;
      margin-right: 15px;
    }
    .value-input {
      width: 60%;
      margin-left: 5px;
      margin-right: 8px
    }
  }

  @media only screen and (max-width:818px) and (min-width: 481px) {
    .delete-setting-button {
      margin: 4px 0 0 10px;
      height: 28px;
    }
    .delete-setting-button-container {
      flex: 0 0 auto;
    }
    .description > p {
      line-height: 18px;
      margin: 0 15px 10px 0;
    }
    .icon-minus-button {
      width: 28px;
      height: 28px;
      margin-top: 4px;
    }
    .input {
      flex: 1 1 auto;
    }
    .input-container {
      .el-form-item__label {
        span {
          margin-left: 10px;
        }
      }
    }
    .input-row {
      display: flex;
      justify-content: space-between;
    }
    .rate-limit-content {
      width: 65%;
    }
    .rate-limit-label-container {
      width: 35%;
    }
    .settings-delete-button {
      float: right;
    }
    .settings-header-container {
      display: flex;
      justify-content: space-between;
      margin-right: 15px;
    }
    .settings-search-container {
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
    }
    .settings-search-input {
      width: 250px;
      margin: 0 0 15px 15px;
    }
  }
}

@mixin tiptap {
  .editor {
    position: relative;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    padding: 10px;
  
    &__content {
  
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      padding-left: 10px;
  
      * {
        caret-color: currentColor;
      }
  
      pre {
        border-radius: 5px;
        font-size: 0.8rem;
        overflow-x: auto;
  
        code {
          display: block;
        }
      }
      
      p code {
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
      }
  
      ul,
      ol {
        padding-left: 1rem;
      }
  
      li > p,
      li > ol,
      li > ul {
        margin: 0;
      }
  
      a {
        color: inherit;
      }
  
      blockquote {
        border-left: 3px solid rgba(#000000, 0.1);
        color: rgba(#000000, 0.8);
        padding-left: 0.8rem;
        font-style: italic;
  
        p {
          margin: 0;
        }
      }
  
      img {
        max-width: 100%;
        border-radius: 3px;
      }
  
      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;
  
        td, th {
          min-width: 1em;
          border: 2px solid #dddddd;
          padding: 3px 5px;
          vertical-align: top;
          box-sizing: border-box;
          position: relative;
          > * {
            margin-bottom: 0;
          }
        }
  
        th {
          font-weight: bold;
          text-align: left;
        }
  
        .selectedCell:after {
          z-index: 2;
          position: absolute;
          content: "";
          left: 0; right: 0; top: 0; bottom: 0;
          background: rgba(200, 200, 255, 0.4);
          pointer-events: none;
        }
  
        .column-resize-handle {
          position: absolute;
          right: -2px; top: 0; bottom: 0;
          width: 4px;
          z-index: 20;
          background-color: #adf;
          pointer-events: none;
        }
      }
  
      .tableWrapper {
        margin: 1em 0;
        overflow-x: auto;
      }
  
      .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
      }
  
    }
  }
  .editor-form-item {
    margin-right: 30px;
  }
  .menubar {

    margin-bottom: 1rem;
    transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
  
    &.is-hidden {
      visibility: hidden;
      opacity: 0;
    }
  
    &.is-focused {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.2s, opacity 0.2s;
    }
  
    &__button {
      font-weight: bold;
      display: inline-flex;
      background: transparent;
      border: 0;
      color: #000000;
      padding: 0.2rem 0.5rem;
      margin-right: 0.2rem;
      border-radius: 3px;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(#000000, 0.05);
      }
  
      &.is-active {
        background-color: rgba(#000000, 0.1);
      }
    }
  
    span#{&}__button {
      font-size: 13.3333px;
    }
  }
}

@mixin emoji {
  .create-pack {
    display: flex;
    justify-content: space-between
  }
  .create-pack-button {
    margin-left: 10px;
  }
  .emoji-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 22px 15px;
  }
  .emoji-name-warning {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin: 5px 0 0 0;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .emoji-packs-header-button-container {
    display: flex;
  }
  .emoji-packs-form {
    margin-top: 15px;
  }
  .emoji-packs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px 15px 15px;
  }
  .emoji-packs-tabs {
    margin: 0 15px 15px 15px;
  }
  .import-pack-button {
    margin-left: 10px;
    width: 30%;
    max-width: 700px;
  }
  h1 {
    margin: 0;
  }
  .line {
    width: 100%;
    height: 0;
    border: 1px solid #eee;
    margin-bottom: 22px;
  }
  .pagination {
    margin: 25px 0;
    text-align: center;
  }
  .reboot-button {
    padding: 10px;
    margin: 0;
    width: 145px;
  }
  
  @media only screen and (min-width: 1824px) {
    .emoji-packs {
      max-width: 1824px;
      margin: auto;
    }
  }
  
  @media only screen and (max-width:480px) {
    .create-pack {
      height: 82px;
      flex-direction: column;
    }
    .create-pack-button {
      margin-left: 0;
    }
    .divider {
      margin: 15px 0;
    }
    .el-message {
      min-width: 80%;
    }
    .el-message-box {
      width: 80%;
    }
    .emoji-header-container {
      flex-direction: column;
      align-items: flex-start;
    }
    .emoji-packs-form {
      margin: 0 7px;
      label {
        padding-right: 8px;
      }
      .el-form-item {
        margin-bottom: 15px;
      }
    }
    .emoji-packs-header {
      margin: 15px;
    }
    .emoji-packs-header-button-container {
      height: 82px;
      flex-direction: column;
      .el-button+.el-button {
        margin: 7px 0 0 0;
        width: fit-content;
      }
    }
    .import-pack-button {
      width: 90%;
    }
    .reload-emoji-button {
      width: fit-content;
    }
  }
}
