@mixin settings {
  a {
    text-decoration: underline;
  }
  .code {
    background-color: #adbed67a;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px 0 3px;
  }
  .description {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 14px 0;
  }
  .description-container {
    overflow-wrap: break-word;
    margin-bottom: 0;
  }
  .el-form-item {
    margin-right: 30px;
  }
  .el-input-group__prepend {
    padding-left: 10px;
    padding-right: 10px;
  }
  .el-select {
    width: 100%;
  }
  .esshd-list {
    margin: 0;
  }
  .expl {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin: 5px 0 0 0;
    overflow-wrap: break-word;
  }
  .highlight {
  background-color: #e6e6e6;
  }
  .icons-button-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .icons-button-desc {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    margin-left: 5px;
  }
  .icon-container {
    flex-direction: column;
    width: 95%;
  }
  .icon-values-container {
    display: flex;
    margin: 0 10px 10px 0;
  }
  .icon-key-input {
    width: 30%;
    margin-right: 8px
  }
  .icon-minus-button {
    width: 36px;
    height: 36px;
  }
  .icon-value-input {
    width: 70%;
    margin-left: 8px;
  }
  .icons-container {
    display: flex;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .limit-button-container {
    display: flex;
    align-items: baseline;
  }
  .limit-expl {
    margin-left: 10px;
  }
  .limit-input {
    width: 48%;
    margin: 0 0 5px 8px
  }
  .line {
    width: 100%;
    height: 0;
    border: 1px solid #eee;
    margin-bottom: 22px;
  }
  .mascot-container {
    margin-bottom: 15px;
  }
  .mascot-input {
    margin-bottom: 7px;
  }
  .mascot-name-container {
    display: flex;
    margin-bottom: 7px;
  }
  .mascot-name-input {
    margin-right: 10px
  }
  .name-input {
    width: 30%;
    margin-right: 8px
  }
  .pattern-input {
    width: 20%;
    margin-right: 8px
  }
  .setting-input {
    display: flex;
    margin-bottom: 10px;
  }
  .single-input {
    margin-right: 10px
  }
  .scale-input {
    width: 48%;
    margin: 0 8px 5px 0
  }
  .replacement-input {
    width: 80%;
    margin-left: 8px;
    margin-right: 10px
  }
  .text {
    line-height: 20px;
    margin-right: 15px
  }
  .ssl-tls-opts {
    margin: 36px 0 0 0;
  }
  .upload-container {
    display: flex;
    align-items: baseline;
  }
  .value-input {
    width: 35%;
    margin-left: 8px;
    margin-right: 10px
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    .el-form-item {
      margin-right: 15px;
    }
    .el-input__inner {
    padding: 0 5px 0 5px
    }
    .el-form-item__label:not(.no-top-margin) {
      padding-left: 3px;
      padding-right: 10px;
      line-height: 22px;
      margin-top: 7px;
    }
    .el-message {
      min-width: 80%;
    }
    .el-select__tags {
      overflow: hidden;
    }
    .name-input {
    width: 40%;
    margin-right: 5px
    }
    p.expl {
      line-height: 20px;
    }
    .pattern-input {
      width: 40%;
      margin-right: 4px
    }
    .replacement-input {
      width: 60%;
      margin-left: 4px;
      margin-right: 5px
    }
    .top-margin {
      position: absolute;
      top: 25%;
    }
    .value-input {
      width: 60%;
      margin-left: 5px;
      margin-right: 8px
    }
  }
}
